h1.intro {
  width: 80%;
  font-style: italic;
  font-weight: bold;
}

.important {
  font-family: sans-serif;
  width; 40%;
  color: red;
}

.email {
  color: teal;
  font-size: 20;
  font-weight: bolder;
}
